@charset "UTF-8";
.breadcrumb { display: block; background: #f2f2f2; border: 1px solid #e5e5e5; padding: 0 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; height: 36px; line-height: 34px; }
.breadcrumb li { display: table-cell; }
.breadcrumb li:after { content: "\\"; padding: 0 10px; }
.breadcrumb li:last-child:after { content: ""; padding: 0; }

.tabs.tabs-bottom .tab-nav { border-top: 1px solid #e5e5e5; border-bottom: none; }
.tabs.tabs-bottom .tab-nav > li { margin-top: -1px; }
.tabs.tabs-bottom .tab-nav > li > a { border-width: 0 1px 1px 1px; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -ms-border-radius: 0 0 4px 4px; -o-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

table.table { width: 100%; }
table.table caption { text-align: center; font-weight: bold; }
table.table td, table.table th { border: 1px solid #cccccc; padding: 5px; }
table.table th { text-align: center; font-weight: bold; background: #e5e5e5; }

.visible-desktop { display: inherit !important; }

.visible-phone, .visible-tablet, .hidden-desktop { display: none !important; }

@media only screen and (min-width: 768px) and (max-width: 939px) { .hidden-desktop, .visible-tablet { display: inherit !important; }
  .visible-desktop, .hidden-tablet { display: none !important; } }
/* For Phone */
@media only screen and (max-width: 767px) { .hidden-desktop, .visible-phone { display: inherit !important; }
  .visible-desktop, .hidden-phone { display: none !important; } }
.alert.active { display: none; }
.alert .close { float: right; }

@media only screen and (max-width: 767px) { .small-one.columns { float: left; width: 19% !important; }
  .small-two.columns { float: left; width: 39% !important; }
  .small-three.columns { float: left; width: 59% !important; }
  .small-four.columns { float: left; width: 79% !important; }
  .small-five.columns { float: left; width: 99% !important; } }
